.reservations-section{
    width: auto;
}

h3{
    text-align: center;
}

img{
    height: 100px;
    width: 100px;
    margin-left: 1%;
}

mat-chip{
    float: right;
}

.container{
    margin: 1% auto auto 0%;
}