<div class="container-cgu">
        <h1>Condition générales d'utilisations</h1>
        <div class="container-cgu-1">
            <h2>1) Acceptation des CGU</h2>
            <p class="paragraphe-1">   
                L’utilisation du Service et du Site sont soumis aux présentes CGU. <br>
                Les CGU constituent un contrat régissant les relations entre l’Utilisateur et AtypikHouse.<br> 
                Elles annulent et remplacent toutes les dispositions antérieures et constituent l’intégralité des droits et obligations d’AtypikHouse et de l’Utilisateur relatifs à leur objet. Les Parties acceptent qu’en cas de contradiction entre les informations présentes sur le Site et les CGU, ces dernières prévoient.<br>
                <br>
                L’acceptation pleine et entière, sans réserve, par l’Utilisateur, des présentes CGU est réputée donnée dès lors que celui-ci procède à la création de son compte Utilisateur.<br>
                AtypikHouse se réserve le droit de modifier à tout l’instant, les modifications prenant le cas échéant effet au moment de leur publication sur le Site. La continuation de l’utilisation du Site vaut acceptation tacite des utilisateurs de la dernière version de mise à jour des CGU.
            </p>
    
            <h3>2) Objet du Service</h3>
            <p>
                Le Service est un service de mise en relation entre Propriétaire et Locataires pour faciliter la Location d'Hébergement insolite ainsi que la gestion des paiements entre Utilisateurs.<br>
                Chaque Utilisateur comprend et accepte qu’AtypikHouse est le demeure un tiers au contrat conclu entre un Propriétaire et un Locataire.<br> 
                A ce titre, AtypikHouse ne saurait être tenu d'exécuter les obligations d’un Utilisateur en ses lieu et place et ne saurait voir sa responsabilité engagée au titre des manquements par un Utilisateur à ses obligations contractuelles.
            </p>
    
            <h4>3) Droit de rétractation</h4>
            <p>Le droit de rétractation de 14 jours prévu par l’article L. 221-18 du Code de la consommation ne s’applique pas aux achats suivants:</p>
                <ul>
                    <li>
                        service d'hébergement (hôtel, camping….), de transport( personnes, biens, déménagements), de locations de véhicules, de restauration ou activités de loisirs fournies à une date ou selon une périodicité déterminée (billet de spectacle…); la vente de bons cadeaux au de chèques cadeaux pour des prestations de bien être avec une durée de validité d’un an n’entre pas dans l’exception ou droit de rétractation.<br> 
                        En acceptant d’utiliser le Service. L’Utilisateur renonce donc expressément au droit de rétractation prévu par l’article L. 221-18 du Code de la consommation.
                    </li>
                </ul>
    
            <h5>3) Obligations des parties</h5>
    
            <h5>3.1 Obligations de l’Utilisateur</h5>
    
            <p>L’Utilisateur s’engage à:</p>
            <ul>
                <li>
                    Utiliser le Site et le Service conformément aux présentes CGU et aux lois en vigueur.
                </li>
                <li>
                    fournir des informations véridiques, licites, objectives et respectant les lois en vigueur(injure, incitation à la haine, racisme…)
                </li>
                <li>
                    agir de bonne fois dans le cadre de l’utilisation du Service et du Site.
                </li>
                <li>
                    ne disposer que d’un seul compte Utilisateur et à ne pas ouvrir de compte Utilisateur pour une autre personne que lui même.
                </li>
                <li>
                    n’utiliser son compte utilisateur qu'à titre personnel tous les actes effectués depuis son compte Utilisateur étant considérés avoir été effectués par lui-même .
                </li>
                <li>
                    actualiser régulièrement ses informations en se connectant à son compte utilisateur pour le bon déroulement des réservations.
                </li>
                <li>
                    ne pas céder son compte utilisateur à un tiers ni à un autre utilisateur.
                </li>
                <li>
                    respecter les formations administratives et sanitaires en vigueur
                </li>
                <li>
                    rédiger et signer le jour de la prise en main un contrat de location comprennent un état des lieux d’entrée contradictoire.
                    Chaque utilisateur doit se charger lui-même d’archiver sur un support mémoire indépendant du Site les informations consultables sur le Site dont il a besoin à des fins de conservation de preuves de comptabilité, etc…
                </li>
            </ul>
    
            <h5>4) Réclamations</h5>
            <p>
                Atypikhouse met à la disposition du CLIENT un « Service téléphonique Client » au numéro suivant : 01-82-28- 59-23 (numéro non surtaxé). <br> 
                Toute réclamation du CLIENT devra être transmise par écrit à l’adresse suivante : <br>
                <a href="mailto:contact@atypikhouse.fr">contact@atypikhouse.fr</a>
            </p>
    
            <h5>5) Paiement</h5>
            <h5>5.1 Modes de paiement proposés sur le site</h5>
            <p>Le paiement s’effectue en ligne par carte bancaire au moment de la passation de la Location par le CLIENT. <br>
               Les cartes bancaires acceptées sont les suivantes:
            </p>
            <ul>
                <li>
                    Cartes bleues
                </li>
                <li>
                    Visa
                </li>
                <li>
                    Mastercard
                </li>
            </ul>
    
            <h5>5.2 Sécurisation des paiements</h5>
            <p>
                Lorsqu’il choisit son moyen de paiement, le CLIENT est redirigé vers le site sécurisé concerné (le site de la banque en cas de paiement par carte de crédit) afin de procéder au paiement.<br> 
                Le CLIENT garantit à LEGAL’EASY qu’il détient toutes les autorisations requises pour utiliser le moyen de paiement choisi. En communiquant son numéro de carte de crédit, le CLIENT autorise la banque du SITE à débiter le montant total de la COMMANDE (taxes et frais de livraison inclus, le cas échéant).<br> 
                Toutes les informations relatives au paiement ne sont pas traitées sur le SITE et sont transmises à la banque du SITE.<br> 
                AtypikHouse ne collecte pas, ne conserve pas et ne traite pas les coordonnées bancaires du CLIENT.
            </p>
    
            <h5>5.3 Date de paiement</h5>
            <p>
                Le compte bancaire du CLIENT, correspondant à la carte bancaire ou au compte Paypal utilisé pour le paiement, sera débité immédiatement à compter de la passation de la COMMANDE par le CLIENT.
            </p>
    
            <h5>5.4 Retard ou Refus de paiement</h5>
            <p>
                Dans l’hypothèse où, pour quelque raison que ce soit (opposition, refus de la banque ou autre), la transmission du flux d’argent dû par le CLIENT s’avèrerait impossible, la COMMANDE et le CONTRAT seront automatiquement annulés
            </p>
    
            <h5>6) Liens hypertextes</h5>
            <p>
                Des liens hypertextes peuvent être présents sur le site.<br> 
                L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site <a href="https://atypikhouse.com">www.atypikhouse.com </a>.<br> 
                Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
            </p>
    
            <h5>7) Publication par l’Utilisateur</h5>
            <p>
                Le site permet aux membres de publier des Annonces et d’écrire des post. Dans ses publications, le membre s’engage à respecter les règles de la Netiquette (règles de bonne conduite de l’internet) et les règles de droit en vigueur.<br> 
                Le site peut exercer une modération sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.<br> 
                Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle.<br> 
                Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.<br> 
                La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.<br> 
                Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité.<br> 
                L'Utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes.<br> 
                Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l'Utilisateur. Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le site, sans préavis.
            </p>
    
            <h5>8) Cookies</h5>
            <p>
                L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.<br> 
                Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site www.atypikhouse.com.<br> 
                Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un.<br> 
                Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme.<br> 
                Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.<br> 
                L’information contenue dans les cookies est utilisée pour améliorer le site, par exemple en :
            </p>
            <ul>
                <li>
                    permettant à un service de reconnaître l’appareil de l’Utilisateur, pour qu’il n’ait pas à donner les mêmes informations à plusieurs reprises, par exemple remplir un formulaire ou une enquête.
                </li>
                <li>
                    mémorisant que vous l’Utilisateur a déjà donné ses identifiant et mot de passe, pour ne pas avoir à le refaire à chaque nouvelle page.
                </li>
                <li>
                    surveillant comment les utilisateurs se servent des services, pour les rendre plus simples d’utilisation et allouer suffisamment de puissance pour s’assurer de leur réactivité.
                </li>
                <li>
                    analysant des données « anonymisées » pour aider à comprendre comment les utilisateurs interagissent avec les différents aspects des services en ligne et donc permettre de les améliorer.
                </li>
            </ul>
            <p>
                A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être refusées.<br> 
                L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
            </p>
    
            <h5>9) Force majeure</h5>
            <p>Les parties conviennent que constituent notamment dans cas de force majeure: </p>
            <ul>
                <li>
                    les bulletins météorologiques spéciaux empêchant autres sorties
                </li>
                <li>
                    les modifications legislatives et reglementaires
                </li>
                <li>
                    les catastrophes naturelles, les incendies, les tempêtes, les inondations, les guerres et actes de terrorisme, les greves internes a l’entreprise, la maladie, les surtensions et les chocs eletriques, les pannes de systemes de refroidissement et des materiels informatiques, les blocages et ralentissements des reseaux de communications életroniques et plus généralement tout foit imprevisible et exterieur à la volonte d’AtypikHouse et des utilisateurs.
                </li>
            </ul>
    
            <h5>10) Confidentialité</h5>
            <p>
                AtypikHouse s’engage à conserver confidentielle toute information recueillie lors de la création du compte Utilisateur.<br>
                AtypikHouse s’engage à n’utiliser aucune donnée obtenue de l’Utilisateur pour d’autres finalités que celle du Service, et notamment à ne pas revendre ces données à des tiers à des fins commerciales sauf à ce que cette utilisation soit requise par la loi ou par toute autorité administrative ou judiciaire.
            </p>
    
            <h5>11) Suspension / Résiliation</h5>
            <p>
                L’Utilisateur reconnaît qu’AtypikHouse est en droit de suspendre l’accès au Service ou de résilier ses relations contractuelles avec l’Utilisateur, ou de supprimer tout compte Utilisateur, de plein droit, par simple courrier électronique et sans autre formalité pour tout motif, et notamment:
            </p>
            <ul>
                <li>
                    en cas d’utilisation non conforme ou illicite du Service notamment en cas de probleme de paiement (y compris du supçon de blanchiment d’argent).
                </li>
                <li>
                    en cas de non respect des CGU.
                </li>
                <li>
                    en cas d’annulation de plus de deux réservations, hors cas de force majeure, dans les conditions de l’article 7.
                </li>
                <li>
                    en cas d’évaluations particulièrement négatives par les autres Utilisateurs ou de non-conformité de l'Hébergement avec l’Annonce.
                </li>
                <li>
                    en cas d'arrêt d’exploitation du Site et/ou du Service par AtypikHouse
                </li>
            </ul>
            <br>
            <p>
                L’Utilisateur s’engage en conséquence à ne pas se créer un nouveau compte Utilisateur. <br>
                L’Utilisateur peut résilier son compte Utilisateur à tout moment par simple courrier électronique à : <br>
                <a href="mailto:contact@atypikhouse.fr">contact@atypikhouse.fr</a> <br>
                Toutefois il s’engage à maintenir et assurer les réservations en cours au acceptées.
            </p>
    
            <h5>12) Données personnelles</h5>
            <p>
                La loi n°2018-493 du 20 juin 2018 promulguée le 21 juin 2018 a modifié la loi informatique et Libertés du 6 janvier 1978 afin d’exercer certaines des “marges de manoeuvre nationales” autorisées par le Règlement général sur la protection des données (RGPD) et de transposer en droit français la Directive “police-justice”. <br>
                Elle a également modifié certaines dispositions de la loi informatique et Libertés pour les rapprocher de la lettre du RGPD.<br>
                Comme la CNIL l’avait relevé dans son avis sur le projet de loi, la bonne compréhension du cadre juridique suppose de lire de manière combine le RGPD et la loi du 6 janvier 1978 ainsi “ consolidée”.En effet:<br>
                Certaines des dispositions de la loi du 6 janvier 1978 ,formellement inchangées, ne sont en réalité plus applicables dans le champ du RGPD, qui s’y substitue (par exemple: conditions de licéité des traitements, droit à l’information, etc…) <br>
                La loi du 6 janvier 1978 n’est pas complète puisqu’elle ne mentionne pas tous les nouveaux droits ou obligations posés par le RGPD, pourtant également applicables (par exemple: droit à la portabilité, obligation de résilier des analyses d’impact , etc..). <br>
                Elle s’applique de manière différenciée dans les territoires d'outre-mer. <br>
                <br>
                Le Site AtypikHouse peut être amené à collecter des données à caractère personnel sur les Utilisateurs.
                Les données collectées ne sont destinées qu'à l'usage propre de AtypikHouse. <br>
                Seules peuvent y accéder les personnes agissant sous son autorité et sur ses instructions y compris les sous-traitants (hébergeurs et mainteneurs uniquement) agissant dans l’exercice de leurs missions. <br>  
                Tout sous-traitant amené à cette occasion à prendre connaissance de ces données à caractère personnel sera soumis à une obligation de confidentialité, il devra notamment s’interdire d’utiliser pour son propre compte ou encore de communiquer à des tiers tout ou partie de ces données personnelles. <br>
                <br>
                Aucune des données à caractère personnel collectées à partir du site n’est communiquée ou cédées à des tiers à des fins commerciales. <br>
                Les données collectées pourront toutefois être transmises aux assurances dans le caractère de la souscription d’un contrat.
            </p>
    
            <h5>13) Propriété intellectuelle</h5>
            <p>
                AtypikHouse et le logo figurant sur le Site sont des marques déposées et restent l'entière propriété d’AtypikHouse. Aucune licence n’est concédée à l’Utilisateur. <br>
                <br>
                AtypikHouse est titulaire des droits de propriété intellectuelle afférents au Service et au Site, et, notamment relatifs aux éléments logiciels à l’ergonomie, à l’agencement, aux éléments graphiques, au logo et au design du Site. <br>
                <br>
                L’Utilisateur s’interdit de porter atteinte de quelque façon que ce soit aux droits de propriété intellectuelle détenus par AtypikHouse. <br>
                <br>
                Les utilisateurs sont seuls responsables des Contenus et garantissent AtypikHouse de toute réclamation relative aux Contenus relatifs à la violation des droits des tiers et de la législation en vigueur et s’engagent à indemniser AtypikHouse de tout préjudice pouvant être subi par elle et à la rembourse des dommages et intérêts, frais, notamment de conseil, qu’elle pourrait avoir engagés à ce titre. <br>
                <br>
                Chaque Utilisateur concède à titre gratuit un droit non exclusif de reproduire, représenter, modifier, traduire, adapter et sous-licencier les contenus pour la durée des droits d’auteur et pour le monde entier sur tout autre support numérique, analogique ou papier à des fins commerciales ou non.
            </p>
    
            <h5>14) Autonomie des clauses et divisibilité</h5>
            <p>
                Si une ou plusieurs stipulations des CGU étaient déclarées nulles en application d’une loi, d’un règlement ou à la suite d’une décision définitive d’une juridiction compétente, les autres stipulations garderont toute leur force et leur portée, dans la mesure permise par ladite décision. <br>
                En outre, le fait pour une partie de na pas se prévaloir d’un manquement de l’autre partie à l’une quelconque des dispositions des CGU ne saurait s’interpréter comme une renonciation de sa part à se prévaloir dans l’avenir d’un tel manquement.
            </p>
    
            <h5>15) Témoins de connexion</h5>
            <p>
                Lors de la consultation du site atypikhouse.fr des informations relatives à la navigation de votre terminal (ordinateur, tablet, smartphone, etc…) sur notre site sont susceptibles d’être enregistrées dans les fichiers texte appelés “Cookies” installés sur votre terminal sous réserve de vos choix concernant les Cookies que vous pouvez modifier à tout moment. <br>
                Seul l'émetteur d’un cookie est susceptible de lire ou de modifier des informations qui vous sont contenues. <br>
                <br>
                Pour en savoir plus sur le fonctionnement des cookies et comment utiliser les outils actuels afin de les paramétrer, veuillez cliquer <a href="#">ici</a>.
            </p>
    
            <h5>16) Publication – Hébergement</h5>
            <p>
                Nom du directeur de la publication: <br>
                Nom de l'hébergeur: OVH - 2 rue Kellermann, 59100 Roubaix. <br>
               <a href="www.ovh.com/fr/">www.ovh.com/fr/</a> 
            </p>
    
            <h5>17) Droit applicable</h5>
            <p>
                Les présentes CGU sont exclusivement régies par le droit français.
            </p>
        </div>
</div> 
