<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">À propos</h5>
    <!--headin5_amrc-->
    <p><i class="fa fa-location-arrow"></i> 10 Cours Louis Lumière 60350 Pierrefonds </p>
    <p><i class="fa fa-phone"></i>  +01 46 02 30 43  </p>
    <p><i class="fa fa fa-envelope"></i> general@atypikhouse.fr  </p>
    <p class="text-copiryght">Copyright @2021 AtypikHouse <br>
        Ce site est un projet étudiant donc fictif
    </p>
</div>

<div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Hôte</h5>  
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
        <li><a href="#">Héberger des voyageurs</a></li>
        <li><a href="#">Accueil responsable</a></li>
        <li><a href="#">Parrainer des hôtes</a></li>
        <li><a href="#">Organiser une expérience</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
</div>

<div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Assistance</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
        <li><a href="#">Nos mesures face au Covid-19</a></li>
        <li><a href="#">Confiance et sécurité</a></li>
        <li><a href="#">Options d'annulation</a></li>
        <li><a href="#">Centre d'aide</a></li>
        <li><a href="#">Service d'aide aux voisins</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
</div>   

<div class="container">
    <ul class="foote_bottom_ul_amrc">
        <li><a href="#">Confidentialité</a></li>
        <li><a routerLink="cgu">Conditions générales</a></li>
        <li><a href="#">Plan du site</a></li>
        <li><a routerLink="#">Fonctionnement du site</a></li>
        <li><a routerLink='contact'>Contact</a></li>
        <li><a href="https://www.facebook.com"><img class="facebook" alt="facebook" src="/assets/img/fb.png"></a></li>
        <li><a href="https://twitter.com"><img class="twitter" alt="twitter" src="/assets/img/twitter.png"></a></li>
        <li><a href="https://www.instagram.com"><img class="instagram" alt="instagram" src="/assets/img/insta.png"></a></li>
    </ul>
     <!--foote_bottom_ul_amrc ends here-->
</div>

</div>
</div>
</footer>