.header{
    padding: 5px;
    background: linear-gradient( white 95%, #118041);
}

/*****LOGO IMG*****/
.img{
    display: inline-block;
}

/*****NAV*****/
.nav{
    padding-bottom: 2em;
    display: inline-block;
}