<div class="container-card-house" >
	<mat-card class="card-house" houseBorderCard (click)="selectHouse(house)" >

		<mat-card-header class="card-header-house">
			<img mat-card-avatar class="example-header-image" src="{{house.fileUrl}}" alt="" >
			<mat-card-title>{{house.title}}</mat-card-title>
		</mat-card-header>
		

		<img mat-card-image class="example-header-image container-image" src="{{house.fileUrl}}" alt="">

		<mat-card-content class="content-text">
			<p>
				{{house.description}}
			</p>
		</mat-card-content>
		<mat-card-content>

			<mat-list role="list" class="list-house">
				<mat-list-item>
					<div class="container-list">
						<div class="list-item" role="listitem">
							<mat-icon aria-hidden="false" aria-label="Example home icon">bed</mat-icon>
							{{house.nbbeds}}
						</div>
						<div class="price" role="listitem">{{house.price}}€ / Nuit</div>
					</div>
				</mat-list-item>
				<mat-chip-list aria-label="Activités">
					<mat-chip *ngFor="let activite of house.listidActivities | slice:0:3">{{activite}}</mat-chip>
				</mat-chip-list>
			</mat-list>
			
		</mat-card-content>
	</mat-card>
</div>