<div class="contact-content">
    <div>
        <h2 class="contactez-nous">CONTACTEZ-NOUS</h2>
    </div><br>
    <div class="telephone">
        <img height= "60px" width= "70px" src="/assets/img/phone-icon.png/" alt="atypikhouse-logo"><br><br>
        <a>Téléphone</a><br>
        <a>+33 1 00 00 00</a>
    </div><br>
    <div class="email">
        <img height= "60px" width= "70px" src="/assets/img/email-icon.png/" alt="atypikhouse-logo"><br><br>
        <a>E-mail</a><br>
        <a>Contact@atypikhouse.fr</a>
    </div>
</div>
