button{

      border: none;
      color: white;
      background-color: #118041;
      width: 150px;
      min-height: 50px;
  }

  button:hover {
	cursor: pointer;
    background-color: rgb(23, 156, 63);
}

form{
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin: 5% auto 5% auto;
}

mat-form-field{
    width: 350px;
}

img, mat-form-field, button{
    display: block;
    margin : auto;
}

div.text{
    text-align: center;
    margin: auto;
}